/* CSS reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f5f5f5;
}

.hero{
    background-image: linear-gradient(rgba(50,50,50,0.5), rgba(50,50,50,0.5)), url("../images/slide1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.nav_bar{
    display: flex;
    height: 9em;
    justify-content: space-between;
    padding: 16px 6vw 0;
    align-items: center;
}

img{
    height: 100%;
}

.right_nav{
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.right_nav > li{
    padding: 2%; 
}

.right_nav a{
    text-decoration: none;
    color: white;
}

.right_nav > li:last-child > button{
    width: 112px;
    height: 48px;
    border-radius: 20px;
    background-color: green;
    border-color: green;
}

.bold{
    font-weight: bold;
}

.center{
    width: 60%;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 2.1em;
    align-self: center;
}

.center > p{
    text-align: center;
    font-size: 1.25em;
}

.container_down{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%,0);
}

.arrow{
    height: 48px;
    width: 48px;
}

.foundations_title{
    text-align: center;
    padding: 32px 0 1em;
}

.container_foundations{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 0 32px;
}

.foundation{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 32px;
    margin: 16px;
    width: 210px;
    background-color: white;
    flex-grow: 1;
    border-radius: 5px;
}

.foundation > img{
    height: 80px;
    align-self: center;
}

.foundation > *{
    margin-bottom: 16px;
    font-weight: bold;
}

.foundation > p{
    font-weight: 500;
    font-size: 1.1em;
}

.container_vision{
    height: 420px;
    text-align: center;
    padding: 40px 20% 40px;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/parallax-4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 40px;
}

.container_vision > h2{
    margin-bottom: 40px;
    color: white;
    text-shadow: 0 0 2px black;
}

.container_vision img{
    height: 250px;
    width: 450px;
}

.container_join{
    text-align: center;
    margin-bottom: 30px;
}

.container_join > h2{
    margin-bottom: 40px;
    font-weight: bold;
    color: black;
    font-size: 2em;
}

.container_join > div:last-child{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: bold;
    color: #646464;
}

.container_options{
    display: flex;
}

.container_options > img{
    width: 32%;
}

.container_options > div{
    width: 100px;
    margin: 0 20px 0;
    padding: 2.5%;
    flex-grow: 1;
    box-shadow: 0 0 5px 2px lightgray;
}

.container_options > div > h3{
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 1.5em;
    color: black;
}

.container_options > div > ul{
    text-align: left;
    color: #646464;
    font-weight: 400;
    font-size: 1.2em;
    margin-bottom: 30px;
}

.container_options > div > ul > li{
    list-style-image: url("../images/bullet5.png");
}

.container_options > div > button{
    height: 40px;
    width: 100%;
    border-radius: 20px;
    background-color: #0078BE;
    color: white;
    border: 0;
    font-weight: 500;
}

.flex{
    margin: 20px 0 20px;
}

.flex > img{
    width: 9vw;
    margin-right: 20px;
    height: 30px;
}

.container_hub{
    text-align: center;
    padding: 40px 10% 40px;
    background-image: url("../images/parallax-light.jpg");
    background-size: cover;
}

.container_hub > h2{
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 40px;
}

.container_hub > div{
    display: flex;
    justify-content: space-between;
}

.container_hub > div > div{
    width: 25%;
    padding: 0 5% 0;
}

.container_hub > div > div > img{
    width: 80px;
    height: 80px;
}

.container_hub > div > div > h3{
    font-size: 2em;
    color: white;
}

.container_hub > div > div:first-child > h3{
    -webkit-text-stroke: #009a9e;
    -webkit-text-stroke-width: 1.5px;
}

.container_hub > div > div:nth-child(2) > h3{
    -webkit-text-stroke: #e13870;
    -webkit-text-stroke-width: 1.5px;
}

.container_hub > div > div:nth-child(3) > h3{
    -webkit-text-stroke: #0078be;
    -webkit-text-stroke-width: 1.5px;
}

.container_hub > div > div:last-child > h3{
    -webkit-text-stroke: #00802d;
    -webkit-text-stroke-width: 1.5px;
}

.container_hub > div > div > *{
    margin-bottom: 20px;
}

.container_hub > div > div > p{
    font-weight: bold;
    color: #333333;
}

.container_trending{
    padding: 40px 10% 40px;
    text-align: center;
}

.container_trending > h2{
    margin-bottom: 30px;
}

.container_trending > button{
    background-color: #0078BE;
    color: white;
    margin-top: 30px;
    width: 170px;
    height: 40px;
    border-radius: 20px;
    border: 0;
}

.trending > div > a{
    text-decoration: none;
    color: black;
}

.trending > div > a > h3{
    padding: 20px; 
    height: 130px;
    font-size: 1em;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.trending > div > p{
    padding: 20px 20px 0;
    height: 80px;
}

.trending{
    display: flex;
}

.trending > div{
    width: 350px;
    height: 480px;
    margin: 0 10px 0;
    background-color: white;
    text-align: left;
}

.trending > a{
    width: 100%;
}

.trending > div > a > img{
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
}

.trending > div > div {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.trending > p{
    background-color: #0078BE;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    color: white;
}

.trending > p > a{
    text-decoration: none;
    color: white;
}

.container_programs{
    background-image: linear-gradient(rgba(50,50,50,0.5), rgba(50,50,50,0.5)), url("../images/parallax-7.jpg");
    background-position: top center;
    background-size: cover;
    color: white;
    text-align: center;
}

.container_programs > div{
    display: flex;
    padding: 30px 12% 30px;
}

.container_programs > div > div > img{
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

.container_programs > div > div:first-child > img{
    width: 100px;
}

.container_programs > div > div{
    width: 20%;
    /* text-align: center; */
    margin: 5px;
    font-size: 1.3em;
}

.container_programs > div > div:first-child{
    width: 40%;
    text-align: left;
    font-weight: bold;
    font-size: 1.4em;
}

.container_programs > button{
    margin-bottom: 30px;
    height: 40px;
    width: 340px;
    background-color: #0078BE;
    border: 0;
    border-radius: 20px;
    color: white;
    font-weight: bold;
}